*.pyc
__pycache__/
ai_labor_market/__pycache__/
ai_labor_market/notebooks/__pycache__/
ai_labor_market/data/__pycache__/
ai_labor_market/outputs/
outputs/
src/config/__pycache__/**
src/config/__pycache__/*.pyc
src/simulation/__pycache__/**
src/agents/__pycache__/**
